.text {
    width: 30em;
}

.info img {
    width: 20em;
    float: right;
    margin-right: 15em;
}

.main {
    display: flex;
    flex-direction: column;
    margin-left: 5em;
}

.title {
    font-size: 4em;
    text-align: left;
}

.desc {
    font-size: 2em;
    color: rgb(216, 216, 216);
    font-family: 'open sans';
    font-weight: bold;
    margin-top: 1em;
}

.buttons {
    margin-top: 2em;
}

.invite {
    background: #3994ff;
    margin: 0 1em 0 0;
    font-size: 1.2em;
    padding: 1em 2em;
    border-radius: 8px;
}

.contact {
    background: #3e4645;
    margin: 0 0 0 1em;
    font-size: 1.2em;
    padding: 1em 2em;
    border-radius: 8px;
}