@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Poppins:wght@300&display=swap');

:root {
    --background: #272934;
}
* {
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    font-family: sans-serif;
}

body {
    background: var(--background);
    max-width: 2048px;
    margin: 0 auto;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #3e3e3e;
}

*::-webkit-scrollbar {
    width: 8px;
}
  
*::-webkit-scrollbar-thumb {
    background-color: #3e3e3e;
    border-radius: 8px;
}

a {
    text-decoration: none;
    color: white;
}

/* navbar */
header {
    background: var(--background);
    top: 0;
    width: 100%;
    max-width: 2048px;
    margin: 0 auto;
    height: 60px;
    position: fixed;
    z-index: 1;
}

.navlink {
    font-size: 1.2rem;
}

.nav-invite {
    margin-left: 2em;
    margin-right: 4em;
    color: #7781f5;
    letter-spacing: 1px;
}

li {
    list-style: none;
    margin: 20px 18px;
}

nav, ul {
    display: flex;
}

nav {
    justify-content: space-between;
    margin-bottom: 4em;
}

#nav-sophia {
    margin-left: 2em;
    line-height: 60px;
}

@media (max-width: 768px) {
    .main {
        margin: 0;
    }

    .desc {
        font-size: 1em;
        text-align: center;
        padding: 0 1.5em;
    }

    .title {
        font-size: 2em;
        padding: 0 1.5em;
    }

    main, .text, .info {
        margin: 0;
        width: auto;
    }
    
    header { 
        display: none;
    }
    .info img {
        display: none;
    }

    .invite {
        background: #3994ff;
        margin: 0 1em 0 0;
    }

    .buttons {
        text-align: center;
    }

    .invite, .contact {
        font-size: 1.2em;
        padding: .5em 1em;
        border-radius: 8px;
    }

    .contact {
        background: #3e4645;
        margin: 0 0 0 1em;
    }

}