<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sophia, un bot multifuncional para tu servidor!">
    <meta name="og:description" content="Sophia, un bot multifuncional para tu servidor!">
    <meta property="og:title" content="Sophia web"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://sophiabot.ml/"/>
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/913550289586511903/921905786001711144/sophia_icon.png"/>
    <meta name="theme-color" content="#0086ff">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="icon" href="https://cdn.discordapp.com/attachments/913550289586511903/921905786001711144/sophia_icon.png">
    
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://kit.fontawesome.com/7e5b2d153f.js" crossorigin="anonymous"></script>
    <title>Sophia | bot multifuncional</title>
</head>
<body>
    {{> navbar }}
    <main style="margin-top: 6em;">
    {{{ body }}}
    </main>
</body>
</html>