<link rel="stylesheet" href="../../css/index.css">
<section class="main">
  <div class="info">
      <img
        src="assets/sophia_icon.png"
        alt="sophia bot"
      />
    <div class="text">
      <h1 class="title">Sobre mi</h1>
      <p class="desc">Soy un bot multifuncional 100% español con el que podras Moderar, Administrar, incluso divertirte en tu servidor!</p>
  <div class="buttons">
    <a href="https://invite.sophiabot.ml/" class="invite" target="_blank">invitar</a>
    <a href="" class="contact" target="_blank">contacto</a>
  </div>
    </div>
  </div>
</section>