<header>
    <nav>
        <h2 id="nav-sophia">Sophia</h2>
        <ul>
            <li><a href="/" class="navlink">inicio</a></li>
            <li><a href="" class="navlink" target="_blank">contacto</a></li>
            <li><a href="/panel" class="navlink">dashboard</a></li>
            <li><a href="https://invite.sophiabot.ml/" class="navlink nav-invite" target="_blank">invitar</a></li>
        </ul>
    </nav>
</header>